@{
    ViewData["Title"] = "Email potwierdzony";
}

<h2>@ViewData["Title"]</h2>
<p>
    Dziękujemy za potwierdzenie adresu email. Kliknij <a asp-controller="Account" asp-action="Login">TUTAJ</a> aby się zalogować.
</p>
