@{
    ViewData["Title"] = "Wysłano wiadomość z linkiem resetującym hasło";
}

<h2>@ViewData["Title"]</h2>
<p>
    Na podany adres email została wysłana wiadomość z instrukcjami jak zresetować hasło.
</p>
