@{
    ViewData["Title"] = "Hasło zostało zresetowane";
}

<h1>@ViewData["Title"].</h1>
<p>
    Twoje hasło zostało zmienione. Kliknij <a asp-controller="Account" asp-action="Login">TUTAJ</a> aby się zalogować.
</p>
