@{
    ViewData["Title"] = "Sklep z herbatami";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1>TeaShop - Sklep z herbatami</h1>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-7">
        <h2>O projekcie</h2>
        <p class="text-justify">
            TeaShop to aplikacja e-commerce stworzona za pomocą najnowszego frameworka firmy Microsoft - ASP.NET Core.
            Projekt ten został zrealizowany na potrzeby mojej pracy magisterskiej pt.&nbsp;"Programowanie aplikacji webowych za pomocą ASP.NET Core na przykładzie aplikacji e-commerce".
        </p>
        <p class="text-justify">
            TeaShop to sklep oferujący sprzedaż różnych rodzajów herbat. Jedynie zalogowani użytkownicy mogą dokonywać zakupów. TeaShop posiada także prosty Panel Admina pozwalający na zarządzanie produktami i zamówieniami. Ze względu na to, że nie jest to projekt komercyjny, Panel Admina jest dostępny z poziomu górnego menu.
        </p>
        <p class="text-justify">
            Dane dostępowe do konta Admina: <br />
            <strong>Login:</strong> admin@admin <br />
            <strong>Hasło:</strong> Admin123 <br />
        </p>
    </div>
    <div class="col-md-5">
        <img src="~/images/teaSG.jpg" />
    </div>
</div>
