@{
    ViewData["Title"] = "Błąd 404";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h3 class="text-danger">Strona nie istnieje!</h3>
<hr />

<p>
    Kliknij <a asp-action="Index">TUTAJ</a> aby wócić na stronę głowną.
</p>
<p>
    Mozesz też skorzystać z górnego menu by wybrać interesującą Cię podstronę.
</p>
