@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h3 class="text-danger">Błąd serwera</h3>
<hr />

<p>Zawartość której szukasz nie istnieje lub wystąpił błąd podczas połączenia z bazą danych. Bardzo przepraszamy za niedogodności.</p>
<p>
    Kliknij <a asp-action="Index">TUTAJ</a> aby wócić na stronę głowną.
</p>
<p>
    Mozesz też skorzystać z górnego menu by wybrać interesującą Cię podstronę.
</p>
