@{
    ViewData["Title"] = "Dodaj produkt";
    Layout = "_Adminlayout";
}
<br />
<h2 class="text-center">Zarządaj produktami i zamówieniami</h2>
<hr />
<br />

<div class="row">
    <div class="col-md-2 col-md-offset-4">
        <a asp-controller="Admin" asp-action="Products" class="btn btn-lg btn-primary btn-width">Produkty</a>
    </div>
    <div class="col-md-2">
        <a asp-controller="Admin" asp-action="Orders" class="btn btn-lg btn-primary btn-width">Zamówienia</a>
    </div>
</div>
